* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header-flex {
    height: auto;
    background-color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

h1 {
    color: #f8e12e;
    font-style: normal;
    /* border-color:#c64832; */
    -webkit-text-stroke: 1px #c64832;
     text-shadow: -2px -2px 1px #5fa199; 
}

nav {
    background-color: black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

nav a {
    color: black;
    font-size: large;
    border: 1px solid #c64832;
    border-radius: 10%;
    padding: 5px;
    background-color: yellow;
}

.logo {
    width: 400px;
    opacity: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-banner {
    background-image: url(../assets/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    width: 100%;
    height: 600px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
    color: #f8e12e;
    font-style: normal;
    /* border-color:#c64832; */
    -webkit-text-stroke: 1px #c64832;
    /* text-shadow: -2px -2px 1px #5fa199; */
    padding: 7px;
}

.texto {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: bisque;

}

.texto-about {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: bisque;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    
}

table{
    width: 100%;
    border: 1px solid grey;
}
th, td{
    width: 25%;
    text-align: center;
    border: 1px solid grey;
}

.texto-games{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 10px;
}
.texto-rules{
    display: flex;
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

}

.formulario{
    background-color: bisque;
}
.formulario h4{
    padding: 5px;

}
hr{
    border: 1px solid black;
}